.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background-image:url(../imagine/P1.png) ;
  background-size: cover;   }

.actor  { position: absolute;  }
.coin   { background-image:url(../imagine/P2.png) ;
  background-size: cover;  }
.player { 
  background-image:url(../imagine/touxiang.png) ;
  background-size: cover;
 }
 *{
   margin: 0;
   padding: 0;
 }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
#class{
  position: absolute;
  left: 600px;
  top: 80px;
  
}
#list{
  position: absolute;
  left:600px;
  top: 250px;
  
}
#guanka{
  position: absolute;
  left:200px;
  top: 20px;
  
}
#denglu{
  position: relative;
  left: 710px;
  top: 200px;
  background: rgba(255,255,255,0.2);width:400px;height:220px;
  background-position: center;
}